<template id="testTemplate">
<div class="test" role="region" aria-label="test">
<button class="report">Click Me</button>
<div class="status" role="region" aria-label="status" aria-live="polite"></div>
<div class="content">
<button class="dummy">Dummy Button</button>
<content select="p"></content>
</div>
</div>
</template>

<script src="jquery.min.js"></script>
<script src="debug.js"></script>
<script src="t.js"></script>

<script>
"use strict";

(function() {
var ownerDocument = (document._currentScript || document.currentScript).ownerDocument;
var template = ownerDocument.querySelector('#testTemplate');
//var template = document.querySelector ("#testTemplate");

var testPrototype = Object.create(HTMLElement.prototype);

testPrototype.attachedCallback = function () {
debug("- element attached");
debug("- " + this._control.innerHTML);
}; // attached

testPrototype.createdCallback = function() {
this.init();
this.render();
debug ("- element created");
}; // createdCallback 

testPrototype.init = function() {
this.initOptions();
this._root = this.createRootElement();
this._control = this._root.querySelector('.test');
this._status = this._root.querySelector('.status');
this._content = this._root.querySelector('.content');
this._button = this._root.querySelector('button');

this._button.addEventListener ("click", function (e) {
var message = "content: " 
+ this.querySelectorAll(".content p").length 
+ " paragraphs found";
this.status (message);
this.status ("content: " + this.innerHTML);
//test ($(this));
}.bind(this));
}; // init

testPrototype.initOptions = function() {
this._options = {
showStatusMessages: this.getAttribute("showStatusMessages")
}; // this._options
}; // initOptions

testPrototype.createRootElement = function() {
var root = this.createShadowRoot();
var content = document.importNode(template.content, true);

if (window.ShadowDOMPolyfill) {
WebComponents.ShadowCSS.shimStyling(content, 'x-t');
}

root.appendChild(content);
return root;
}; // createdCallback

testPrototype.render = function() {
}; // render


testPrototype.status = function (text) {
var p = ownerDocument.createElement ("p");
if (text) {
p.textContent = text;
this._status.appendChild (p);
} else {
this._status.innerHTML = "";
} // if
} // statusMessage


document.registerElement('x-t', {
prototype: testPrototype
});

window.addEventListener ("HTMLImportsLoaded", function () {alert ("HTMLImportsLoaded ok");});
 
})();

alert ("test component loaded");
</script>
