<template id="testTemplate">
<div class="test" role="region" aria-label="test">
<button class="report">Click Me</button>
<div class="status" role="region" aria-label="status" aria-live="polite"></div>
<div class="content">
<button class="dummy">Dummy Button</button>
<ul>
<slot select="li"></slot>
</ul>
</div>
</div>
</template>


<script src="jquery.min.js"></script>
<script src="debug.js"></script>
<script src="t1.js"></script>

<script>
"use strict";

(function() {
//var ownerDocument = (document._currentScript || document.currentScript).ownerDocument;
//var template = ownerDocument.querySelector('#testTemplate');
var template = document.querySelector ("#testTemplate");

customElements.define ("x-t", class extends HTMLElement {
constructor () {
super ();

debug ("- element created");
} // constructor

connectedCallback () {
this.init();
this.render();
} // connectedCallback

init () {
this.initOptions();
this._root = this.createRootElement();
this._control = this._root.querySelector('.test');
this._status = this._root.querySelector('.status');
this._content = Array.from(this.querySelectorAll("li"));

this._report = this._root.querySelector('.report');
this._dummy = this._root.querySelector('.dummy');

this._content.forEach (e => e.setAttribute("foo", "boo"));

this._dummy.addEventListener ("click", function () {alert ("you clicked a dummy button");});

this._report.addEventListener ("click", function (e) {
var buttonCount = this._root.querySelectorAll("button").length;
var paragraphCount = this.querySelectorAll("li").length; 

debug (paragraphCount, " elements found beneath host");

try {
debug ("nodes found via slot's assigned nodes:");
Array.from(this._root.querySelector("slot").assignedNodes())
.filter(e => e.nodeName.toLowerCase() === "li")
.forEach (e => debug (e.outerHTML));
} catch (e) {
alert (e);
} // try

//debug (this._root.innerHTML);
//test ($(this));
}.bind(this));
} // init

initOptions () {
this._options = {
showStatusMessages: this.getAttribute("showStatusMessages")
}; // this._options
} // initOptions

createRootElement () {
var root = this.attachShadow({mode: "open"});
var content = document.getElementById("testTemplate").content;

/*if (window.ShadowDOMPolyfill) {
WebComponents.ShadowCSS.shimStyling(content, 'x-t');
}
*/

root.appendChild(content.cloneNode(true));
return root;
} // createRootElement

render () {
}; // render


status (text) {
var p = document.createElement ("p");
p.textContent = text;
this._status.innerHTML = "";
this._status.appendChild (p);
} // statusMessage

}); // create element

window.addEventListener ("HTMLImportsLoaded", function () {alert ("HTMLImportsLoaded ok");});
 
})();

alert ("test component loaded");
</script>
