<template id="testTemplate">
<div class="test" role="region" aria-label="test">
<button class="report">Click Me</button>
<div class="status" role="region" aria-label="status" aria-live="polite"></div>
<div class="content">
<button class="dummy">Dummy Button</button>
<ul>
<slot select="li"></slot>
</ul>
</div>
</div>
</template>


<script src="jquery.min.js"></script>
<script src="debug.js"></script>
<script src="t1.js"></script>

<script>
"use strict";

(function() {
//var ownerDocument = (document._currentScript || document.currentScript).ownerDocument;
//var template = ownerDocument.querySelector('#testTemplate');
var template = document.querySelector ("#testTemplate");

customElements.define ("x-t", class extends HTMLElement {
constructor () {
super ();

debug ("- element created");
} // constructor

connectedCallback () {
this.init();
this.render();
} // connectedCallback

init () {
this.initOptions();
this._root = this.createRootElement();
this._control = this._root.querySelector('.test');
this._status = this._root.querySelector('.status');
this._list = this._root.querySelector ("ul");
Array.from(this.querySelectorAll("li"))
.forEach (e => e.setAttribute("tabindex", "0"));

this._list.addEventListener ("click", function (e) {
var x = e.target;
debug ("click on ", x.outerHTML);
x = nextSibling(x);
if (! x) debug ("- next: null");
else debug ("next: ", x.outerHTML);
});

function nextSibling (node) {
do {
node = node.nextSibling;
} while (node && node.nodeType !== 1);
return node;
} // nextSibling

debug ("list length (from host): ", this._list.childNodes.length);
debug (this._list.innerHTML);
debug ("----------");

debug ("list length again: ",  
this._list.querySelector("slot").assignedNodes().length);

Array.from (this._list.querySelector("slot").assignedNodes(true))
.filter(e => e.nodeType === 1)
.forEach (e => debug (e.outerHTML));


this._report = this._root.querySelector('.report');
this._dummy = this._root.querySelector('.dummy');


this._dummy.addEventListener ("click", function () {alert ("you clicked a dummy button");});

this._report.addEventListener ("click", function (e) {

}.bind(this));
} // init

initOptions () {
this._options = {
showStatusMessages: this.getAttribute("showStatusMessages")
}; // this._options
} // initOptions

createRootElement () {
var root = this.attachShadow({mode: "open"});
var content = document.getElementById("testTemplate").content;
content = document.importNode (content, true);

/*if (window.ShadowDOMPolyfill) {
WebComponents.ShadowCSS.shimStyling(content, 'x-t');
}
*/

root.appendChild(content.cloneNode(true));
return root;
} // createRootElement

render () {
}; // render


status (text) {
var p = document.createElement ("p");
p.textContent = text;
this._status.innerHTML = "";
this._status.appendChild (p);
} // statusMessage

}); // create element

window.addEventListener ("HTMLImportsLoaded", function () {alert ("HTMLImportsLoaded ok");});
 
})();

alert ("test component loaded");
</script>
